<section id="hero">
    <h1>Matt Reads Books,</h1>
      <%= link_to books_path do %><h4>See what Matt reads  ></h4><% end %>
</section>
<section id="content">
  <h1 class="underline">Hello</h1>
  <p>Hi, if you're reading this then you probably know me. But, if not, I'm Matt and I read a lot of books. A few people became interested in the things I was reading, and I would tell them about it. But I noticed that I would start to forget details and would find myself spewing off the same bits of info.</p>
  <p>So I decided to start this site to go over all of the books I read. I decided this for two reasons. 1) It will help reinforce the important points in my brain and 2) If someone doesn't feel like reading the entire 200-400 page book, and they trust me to fully comprehend a lot of what the book says, then they can get just get the gist of it and decide if it'll actually be worth checking out.</p>
  <p>So.... I guess, welcome to the site.</p>
  <div class="img">
    <img src="https://images.unsplash.com/photo-1472920149435-570deb57474a?dpr=1&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=" alt="hipster reading" />
    <%= link_to books_path do %><h2>See what Matt reads  ></h2><% end %>
  </div>
</section>
