<section id="hero">
    <h1>Matt Reads Books</h1>
</section>
<section id="content">
  <h1 class="underline">Some Sort of Text</h1>
  <p>
    Whatever hoodie cred pop-up, beard marfa PBR&amp;B heirloom succulents keytar austin. Scenester twee migas pok pok slow-carb pickled. +1 authentic lomo, freegan brunch cardigan unicorn paleo hella pok pok enamel pin blog trust fund. Twee letterpress humblebrag salvia, marfa beard lomo franzen hashtag
  </p>
  <div class="img">
    <img src="https://images.unsplash.com/photo-1472920149435-570deb57474a?dpr=1&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=" alt="hipster reading" />
    <%= link_to books_path do %><h2>Check it out  <i class="fa fa-chevron-right"></i></h2><% end %>
  </div>
</section>
