.book {
  background: #fff;
  text-align: center;
  min-height: 384px;
}

.book img {
  margin: 0 auto;
  height: 300px;
  display: block;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.3);
}

.book-image {
  display: block;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px 3px 3px rgba(0,0,0,0.3);
  height: 300px;
}

button, .button {
  border-radius: 4px;
  margin: 20px;
  color: #fff;
  background-color: #6698D8;
  padding: 10px 40px;
  border: none;
  font-size: 20px;
}

button:hover, .button:hover {
  background-color: #88baea;
}

.jumbotron {
  background-color: #DDE8F1;
}

.jumbotron a {
  color: #7C8595;
}
